---
import type { GetStaticPaths } from "astro";
import MainLayout from "../../layouts/MainLayout.astro"
import ScrollDown from "../../components/ScrollDown.astro"
import Title from "../../components/Title.astro"
import BlogImage from "../../../public/illustrations/blog-image-new.svg"
import BlogPost from "../../components/BlogPost.astro"
import Category from "../../components/Category.astro"
import Pagination from "../../components/Pagination.astro"

import { formatBlogPosts } from "../../utils/utils.js"
import { Image } from "astro:assets";

interface FrontmatterProps {
  title: string;
  date: string;
  category: string;
  author: string;
  description: string;
  draft: boolean;
}

interface PostProps {
  frontmatter: FrontmatterProps;
  url: string;
}

type PaginateDataFunction = (
  data: PostProps[],
  options: {
    pageSize: number;
  }
) => PaginateResult;

interface PaginateResult {
  data: PostProps[];
  paginate: PaginateDataFunction;
}

interface PageProps {
  start: number
  end: number
  size: number
  total: number,
  currentPage: number
  lastPage: number
  url: {}
}

export async function getStaticPaths({ paginate }: { paginate: PaginateDataFunction }): Promise<PaginateResult> {
  const allPosts = await Astro.glob("./*.md");
  const formattedPosts: PostProps[] = formatBlogPosts(allPosts);

  return paginate(formattedPosts, {
    pageSize: 3,
  });
}

const { page } = Astro.props ;
---

<MainLayout title="Blog" description="My Blog Page">
  <!-- blog first section -->
  <section class=" min-h-screen mx-auto flex justify-center items-center flex-col gap-20 sm:max-w-lg ">
    <div class="flex flex-col justify-center items-center gap-5 sm:flex-row-reverse">
      <div class="w-72 flex justify-center items-center">
        <Image src={BlogImage} alt="blog-image" class="w-full h-full select-none" />
      </div>
      <div class="flex flex-col items-center gap-3 sm:flex-1 sm:items-start">
        <h1 class="text-3xl font-bold text-slateBlue dark:text-creamyWhite">
          Blog
        </h1>
        <p class="text-center sm:text-start font-bold text-steelBlueGray dark:text-lightGray">
          探索程式新世界：<br/><span class="font-normal">“分享學習之旅”</span>
        </p>
      </div>
    </div>
    <ScrollDown />
  </section>
  <!-- blog posts section -->
  <section id="content-wrapper"  class="w-full py-5 reveal">
    <Title title="Blog Posts" />
    <div class="flex flex-col gap-5 py-5 reveal">
      {
        page.data.map((post: PostProps) => (
          <BlogPost frontmatter={post.frontmatter} url={post.url} />
        ))
      }
    </div>
    <!-- pagination -->
      <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
    <!-- aside section -->
    <div class="pt-10 flex flex-col justify-between items-center">
      <!-- category -->
        <h2 class="text-center font-bold">Blog Categroies</h2>
        <Category showCount={true} />
    </div>
  </section>
</MainLayout>