---
//utils imports
import { slugify, formatDate } from "../data/utils.js";

const { frontmatter, url } = Astro.props;
const { title, date, category, author, description } = frontmatter;
---
<!-- blog page posts -->
<article class="border-b-[1px] border-steelBlueGray/50 pb-2">
  <!-- title & author & date section -->
  <section class="flex flex-col gap-1">
    <h2 class="text-lg font-bold text-slateBlue text-start dark:text-creamyWhite">
      <a href={url} class="underline-offset-4 line-clamp-1 hover:underline" title={title} >{title}</a>
    </h2>
    <p class="text-xs text-midnightBlack dark:text-steelBlueGray">
      by <a class="underline" href={`/author/${slugify(author)}/`}>{author}</a>
      • {formatDate(date)}
    </p>
  </section>
  <!-- description section -->
  <section>
    <p class="text-sm my-2 line-clamp-2 ">{description}</p>
  </section>
  <!-- category section -->
  <a 
    class="w-fit py-[2px] px-1 rounded-md text-xs bg-slateBlue transition-all duration-300 ease-out text-creamyWhite hover:opacity-90 dark:bg-creamyWhite dark:text-midnightBlack select-none" 
    href={`/category/${slugify(category)}/`}>
    <span><span>#</span> {slugify(category)}</span>
  </a>
</article>
