---
import Icon from "astro-icon";

type Props = {
  text: string;
  href: string;
  iconName: string
};

const { text, href, iconName } = Astro.props as Props;
---
<!-- nav item link -->
<a
  id={text}
  href={href}
  aria-current="page"
  aria-label={`link to ${text}`}
  class="group flex gap-2 font-bold relative transition-all duration-300 ease-out sm:opacity-100 hover:text-slateBlue dark:hover:text-creamyWhite target:border-2"
  data-astro-history="replace"
> 
  <Icon name={iconName} class="w-5 sm:hidden"/>
  <span>
    {text}
  </span>
  <span
    class="absolute inset-0 border-b-4 scale-x-0 border-transparent transition-all duration-300 ease-out group-hover:scale-x-100 group-hover:border-slateBlue dark:group-hover:border-creamyWhite"
  ></span>
</a>

<!-- nav item link script -->
<script is:inline>
  const currentPath = window.location.pathname;
  const links = document.querySelectorAll("a");

  links.forEach((link) => {
    const href = link.getAttribute("href")
    if (href === currentPath ) {
      link.classList.add("text-slateBlue", "dark:text-creamyWhite");
    }
  });
</script>
